<div class="py-6 text-center text-sm std-bg std-shaded-text std-border-t">
    <div class="max-w-4xl mx-auto px-4 space-y-2">
        <p>
            &copy; 2025 MovieMator. All rights reserved. 
        </p>
        <p class="mb-2 space-x-2">
            <a [routerLink]="'/privacy-policy'" class="text-indigo-600 hover:underline">Privacy Policy</a> 
            <span>|</span> 
            <a [routerLink]="'/terms-and-conditions'" class="text-indigo-600 hover:underline">Terms and Conditions</a>
            <!-- <a [routerLink]="'/about'" class="text-indigo-600 hover:underline">About MovieMator</a> -->
        </p>
        <p>
            Contact: <a href="mailto:tudororban2&commat;gmail.com" class="text-indigo-600 hover:underline">tudororban2&commat;gmail.com</a>
        </p>
    </div>
</div>