.standard-write-button {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    height: 2.5rem;
    background-color: rgb(42, 100, 218);
    color: white;
    border: 1px solid rgb(209 213 219);
    border-radius: 0.375rem;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.3rem;
    cursor: pointer;
}

.standard-write-button:hover {
    background-color: rgb(35, 80, 200);
}

.standard-search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgb(40, 40, 40);
}

.standard-action-button {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    height: 2.5rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(209 213 219);
    border-radius: 0.375rem;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.3rem;
    cursor: pointer;
}

.standard-action-button:hover {
    background-color: rgb(235, 235, 235);
}

.profile-button {
    width: 2.2rem;
    height: 2.2rem;
    background-color: var(--tertiary-color);
    color: white;
    border: 1px solid rgb(46, 46, 47);
    border-radius: 9999px;
}

.profile-button:hover {
    background-color: var(--tertiary-color-hover);
}

.standard-auth-button {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    height: 2.5rem;
    background-color: #9810fa;
    color: white;
    border: 1px solid rgb(179, 182, 186);
    border-radius: 0.375rem;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.3rem;
    cursor: pointer;
}

.standard-auth-button:hover {
    background-color: #730cbd;
}

.auth-label {
    color: var(--tertiary-color);
}

.auth-label:hover {
    color: var(--tertiary-color-hover);
}

