.standard-write-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    height: 2.5rem;
    background-color: rgb(42, 100, 218);
    color: white;
    border: 1px solid var(--border-color);
    border-radius: 0.375rem;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.3rem;
    cursor: pointer;
}

.standard-write-button:hover {
    background-color: rgb(35, 80, 200);
}

.standard-search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgb(40, 40, 40);
}

.standard-action-button {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    height: 2.5rem;
    background-color: var(--shaded-bg-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 0.375rem;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.3rem;
    cursor: pointer;
}

.standard-action-button:hover {
    background-color: var(--background-color);
}

.standard-action-button-two {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    height: 2.5rem;
    background-color: var(--shaded-bg-color-sm);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 0.375rem;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.3rem;
    cursor: pointer;
}

.standard-action-button-two:hover {
    background-color: var(--background-color);
}

.profile-button {
    width: 2.2rem;
    height: 2.2rem;
    background-color: var(--tertiary-color);
    color: white;
    border: 1px solid rgb(46, 46, 47);
    border-radius: 9999px;
}

.profile-button:hover {
    background-color: var(--tertiary-color-hover);
}

.standard-auth-button {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    height: 2.5rem;
    background-color: #9810fa;
    color: white;
    border: 1px solid rgb(75, 76, 78);
    border-radius: 0.375rem;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.3rem;
    cursor: pointer;
}

.standard-auth-button:hover {
    background-color: #730cbd;
}

.auth-label {
    color: var(--tertiary-color);
}

.auth-label:hover {
    color: var(--tertiary-color-hover);
}

.dark-theme-button {
    background-color: var(--background-color);
    color: var(--shaded-text-color);
    border: 1px solid var(--border-color);
    height: 2.5rem;
}

.dark-theme-button.active {
    background-color: var(--secondary-color);
}

.dark-theme-button:hover {
    background-color: var(--secondary-color); 
}