.page-title {
    font-size: 1.6rem;
    line-height: 2.1rem;
    font-weight: 600;
}

.page-std-padding-x {
    padding-left: 8rem;
    padding-right: 8rem;
}

.page-std-padding-y {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

@media (max-width: 1024px) {
    .page-std-padding-x {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media (max-width: 640px) {
    .page-std-padding-x {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.std-bg {
    background-color: var(--background-color);
}

.std-bg-hover {
    background-color: var(--shaded-bg-color);
}

.std-bg-hover:hover {
    background-color: var(--background-color);
}

.std-shaded-bg {
    background-color: var(--shaded-bg-color);
}

.std-shaded-bg-xl {
    background-color: var(--shaded-bg-color-xl);
}

.std-shaded-bg-xl:hover {
    background-color: var(--bg-color);
}

.std-text {
    color: var(--text-color);
}

.std-shaded-text {
    color: var(--shaded-text-color);
}

.std-shaded-text:hover {
    color: var(--text-color);
}

.std-border {
    border: 1px solid var(--border-color);
}

.std-border-b {
    border-bottom: 1px solid var(--border-color);
}

.std-border-t {
    border-top: 1px solid var(--border-color);
}

.std-element {
    background-color: var(--shaded-bg-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}

.std-element:hover {
    background-color: var(--background-color);
}

.std-element-two {
    background-color: var(--shaded-bg-color-sm);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}

.std-element-two:hover {
    background-color: var(--background-color);
}