.page-title {
    /* padding: 0.5rem; */
    font-size: 1.6rem;
    line-height: 2.1rem;
    font-weight: 600;
}

.page-std-padding-x {
    padding-left: 8rem;
    padding-right: 8rem;
}

.page-std-padding-y {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

@media (max-width: 1024px) {
    .page-std-padding-x {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media (max-width: 640px) {
    .page-std-padding-x {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}