.form-label {
    display: block;
    font-weight: 600;
}

.form-input {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    appearance: none;
    border: 1px solid #cbd5e0;
    border-radius: 0.25rem;
    width: 100%;
    padding: 0.5rem 0.75rem;
    background-color: white;
    color: rgb(84, 84, 84);
    line-height: 1.25rem;
}

.form-input:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.form-error {
    color: #e53e3e;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.form-select {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    margin-top: 0.25rem;
    border-width: 1px;
    border-color: #d1d5db;
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    outline: none;
    font-size: 0.875rem;
    background-color: #ffffff;
    color: #1f2937;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-select:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}

.form-checkbox {
    height: 1rem;
    width: 1rem;
    color: #2563eb;
    border-color: #d1d5db;
    border-radius: 0.25rem;
    box-shadow: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-checkbox:focus {
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}

.add-movies-section {
   background: linear-gradient(to right, var(--secondary-color), var(--tertiary-color));
   color: white;
}

.expand-caret {
    color: var(--shaded-text-color);
}

.expand-caret:hover {
    color: var(--text-color);
}