.header {
   background: linear-gradient(to right, var(--secondary-color), var(--tertiary-color));
   
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   height: 4rem;
   padding: 1rem 2rem;
   background-color: var(--secondary-color);
   color: var(--secondary-text-color);
}

.header .logo-container {
    flex-shrink: 0;
}

.header .nav-links {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-grow: 1; 
    justify-content: center; 
}

.header .auth-buttons {
    flex-shrink: 0;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.header .user-bar-container {
    flex-shrink: 0;
}

@media (max-width: 768px) {
    .header {
        padding: 1rem 1rem;
        height: auto; 
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .header .nav-links,
    .header .auth-buttons {
        gap: 1rem;
        flex-basis: 100%;
        justify-content: center;
    }

    .header .logo-container {
        margin-bottom: 0.5rem;
    }
}

.home-container {
    background: linear-gradient(to bottom right, var(--home-gradient-from), var(--home-gradient-to));
    color: var(--home-text-color);
    transition: background 0.3s ease, color 0.3s ease;
}

.consent-banner {
    background: var(--shaded-opposite-bg-color);
    color: var(--text-color);
}