.header {
   /* background: linear-gradient(135deg, var(--secondary-color), var(--tertiary-color)); */
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   height: 4rem;
   padding: 1rem 2rem;
   background-color: var(--secondary-color);
   color: var(--secondary-text-color);
}
