<div class="space-y-4 relative min-h-[100px]">
    <div *ngIf="isLoading" class="flex items-center justify-center py-40 bg-opacity-80 z-10">
        <div class="text-center text-gray-600">
            <fa-icon [icon]="faSpinner" [animation]="'spin'" size="3x"></fa-icon>
            <p class="mt-2 text-lg font-semibold">Loading users...</p>
        </div>
    </div>

    <div *ngIf="!isLoading && (users?.results?.length === 0 || !users?.results)" class="text-center text-gray-500 py-8">
        <p class="text-lg">No users found that match your criteria.</p>
    </div>

    <div *ngIf="!isLoading && (users?.results?.length ?? 0) > 0" class="max-w-1/2 py-4">
        <div
            *ngFor="let user of (users?.results ?? [])"
            class="std-element rounded-lg shadow-md hover:shadow-lg transition-all duration-300 ease-in-out transform hover:scale-[1.02] overflow-hidden cursor-pointer"
        >
            <a [routerLink]="'/users/cognito-id/' + user.displayName" class="p-6 flex items-center space-x-4">
                <div class="flex-shrink-0">
                    <fa-icon [icon]="faUserCircle" size="2x" class="text-gray-400"></fa-icon>
                </div>
                <div class="flex-grow">
                    <h3 class="text-xl font-semibold std-shaded-text truncate">{{ user.displayName }}</h3>
                </div>
                <div class="flex-shrink-0 text-gray-400">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                </div>
            </a>
        </div>
    </div>
</div>