<div class="relative">
    <button class="w-10 h-10 bg-purple-600 rounded-full border border-gray-600 cursor-pointer" (click)="toggleExpanded()">
        <fa-icon [icon]="faUser"/>
    </button>
    <div *ngIf="isExpanded" class="absolute top-0 right-0 mt-13 w-48 p-4 space-y-4 std-element rounded-b-md shadow-md text-black z-50">
        <div class="flex items-center space-x-2 hover:text-blue-800">
            <button class="w-10 h-10 bg-purple-600 text-white rounded-full border border-gray-600 cursor-pointer">
                <fa-icon [icon]="faUser"/>
            </button>
            <button class="py-1 text-lg font-semibold cursor-pointer" (click)="navigateTo('/user-profile')">
                {{ currentUser?.displayName ?? 'Display Name: -' }}
            </button>
        </div>

        <div>
            <button (click)="navigateTo('/edit-profile')" class="py-1 font-semibold std-shaded-text cursor-pointer">
                Edit Profile
            </button>
        </div>

        <div>
            <button (click)="navigateTo('/settings')" class="py-1 font-semibold std-shaded-text cursor-pointer">
                Settings
            </button>
        </div>

        <button (click)="logOut()" class="standard-auth-button">
            Logout
        </button>
    </div>
</div>