<div class="w-full page-std-padding-x page-std-padding-y bg-gray-50 border-b border-gray-300">
    <div class="flex items-center justify-between mb-6">
        <h2 class="text-2xl font-bold text-gray-900">Movies ({{ totalCount }})</h2>
        </div>

    <div class="flex flex-col md:flex-row md:items-center md:justify-between w-full space-y-4 md:space-y-0 md:space-x-4">

        <div class="flex flex-col sm:flex-row sm:items-center space-y-4 sm:space-y-0 sm:space-x-4">
            <div class="flex-grow">
                <app-search-input
                    (onSearch)="handleSearchTextChange($event)"
                ></app-search-input>
            </div>

            <div class="flex items-center space-x-2">
                <div>
                    <app-selector
                        [items]="searchConfig.sortOptions"
                        [defaultItemValue]="'createdAt'"
                        (selectedItemChange)="handleSortOptionChange($event)"
                        class="w-full sm:w-auto"
                    ></app-selector>
                </div>

                <div>
                    <button class="standard-action-button w-12" (click)="handleToggleIsAscending()">
                        <fa-icon [icon]="searchParams.isAscending ? faArrowUpWideShort : faArrowDownShortWide"></fa-icon>
                    </button>
                </div>
            </div>
        </div>

        <div class="flex items-center space-x-4">
            <ng-container *ngIf="!isDeleteModeOn; else confirmDeleteButton">
                <button class="standard-action-button w-12" (click)="handleToggleDeleteMode()">
                    <fa-icon
                        [icon]="faTrash"
                        class="text-gray-700 hover:text-red-700"
                    />
                </button>
            </ng-container>
            <ng-template #confirmDeleteButton>
                <button class="standard-action-button bg-red-600 hover:bg-red-700 text-white w-12" (click)="deleteMovies()">
                    <fa-icon [icon]="faCheck"/>
                </button>
            </ng-template>

            <a [routerLink]="'/movies/add-movies'" class="standard-write-button w-full sm:w-auto flex items-center justify-center space-x-2 whitespace-nowrap">
                <fa-icon [icon]="faPlus"></fa-icon>
                <div>Add Movies</div>
            </a>
        </div>
    </div>

    <div class="mt-6">
        <app-filters-bar
            [filterOptions]="searchConfig.filterOptions"
            (movieFiltersChanged)="handleMovieFiltersChange($event)"
        ></app-filters-bar>
    </div>
</div>