.filters-bar-container {
    font-family: 'Inter', sans-serif;
    padding: 1.5rem;
    background-color: var(--shaded-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    margin-bottom: 1.5rem;
}

.filter-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    transition: all 0.2s ease-in-out;
}

.filter-group:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

.filter-group label {
    flex-shrink: 0;
    min-width: 100px;
    text-align: left;
}

.filter-input {
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    color: rgb(84, 84, 84);
}

.clear-filter-btn {
    align-self: center;
    font-size: 1.2rem;
}

@media (min-width: 640px) {
    .filter-group {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .filter-group label {
        text-align: right;
    }
}

.clear-all-btn {
    cursor: pointer;
    border: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.clear-all-btn:active {
    transform: scale(0.98);
}

.filter-box {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 0px solid white;
}