@import url('styles/main.css');
@import url('styles/common.css');
@import url('styles/buttons.css');
@import url('styles/forms.css');
@import url('styles/movies.css');

@import "tailwindcss";

:root {
    --background-color: white;
    --text-color: #000000;
    --primary-color: white;
    --secondary-color: rgb(10, 85, 205); 
    --secondary-text-color: white;
    --shaded-bg-color-sm: rgb(252, 252, 252);
    --shaded-bg-color: rgb(250, 250, 250);
    --shaded-bg-color-xl: rgb(230, 230, 230);
    --shaded-opposite-bg-color: rgb(44, 44, 44);
    --shaded-text-color: rgb(56, 56, 56);
    --tertiary-color: rgb(86, 49, 145);
    --tertiary-color-hover: rgb(80, 47, 135);
    --border-color: #dcdcdd;
    --border-color-secondary: #b3b3b3;
    --scrollbar-color: #d4d4d4;
    --scrollbar-thumb-color: #a9a9a9;

    --home-gradient-from: #eff6ff;
    --home-gradient-to: #e0e7ff;
    --home-text-color: #1a202c;

    --movie-card-color: rgb(255, 255, 255);
    --movie-title-color: rgb(25, 25, 25);
    --movie-label-color: rgb(57, 57, 57);
}

.dark-theme {
    --background-color: #08080e;
    --text-color: #ffffff;
    --primary-color: #0056b3;
    --secondary-color: rgb(10, 85, 205);
    --secondary-text-color: white;
    --shaded-bg-color-sm: rgb(16, 16, 16);
    --shaded-bg-color: rgb(27, 27, 27);
    --shaded-bg-color-xl: rgb(38, 38, 38);
    --shaded-opposite-bg-color: rgb(230, 230, 230);
    --shaded-text-color: rgb(219, 219, 219);
    --border-color: #383737;
    --border-color-secondary: #302f2f;
    --scrollbar-color: #2a2a2a;
    --scrollbar-thumb-color: #404040;
    
    --home-gradient-from: #1a202c;
    --home-gradient-to: #2d3748;
    --home-text-color: #e2e8f0;

    --movie-card-color: rgb(27, 27, 27);
    --movie-title-color: rgb(238, 238, 238);
    --movie-label-color: rgb(219, 219, 219);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #2d3748;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4a5568;
    border-radius: 10px;
    border: 2px solid #2d3748;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #636b7d;
}

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #4a5568 #2d3748;
}

.transparent-overlay {
    background-color: rgba(0, 0, 0, 0.5);
}