*.tfstate
*.tfstate.*

*.tfplan
*.tfplan.*

.terraform.lock.hcl

.terraform/

override.tf
override.tf.json
*_override.tf
*_override.tf.json

crash.log

.env
.envrc

.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db

environments/dev/terraform.tfvars