<div class="w-full pb-16">
    <app-error-fallback
        [fallbackState]="fallbackState"
    ></app-error-fallback>

    <div *ngIf="!fallbackState.isForbidden && !fallbackState.errorMessage">
        <app-movies-header
            [isCurrentUserPage]="isCurrentUserMoviesPage"
            [username]="isCurrentUserMoviesPage ? undefined : undefined"
            [searchParams]="searchParams"
            [totalCount]="movies?.totalCount"
            [movieFilters]="movieFilters"
            [isDeleteModeOn]="isDeleteModeOn"
            (searchParamsChanged)="searchMovies()"
            (sortOptionsChanged)="handleSortOptionsChange()"
            (movieFiltersChanged)="handleMovieFiltersChange($event)"
            (deleteModeToggled)="toggleDeleteMode()"
            (onDeleteMovies)="deleteMovies()"
            (cancelDeleteMovies)="clearDeleteMovieIds()"
        ></app-movies-header>

        <app-loading-fallback
            [fallbackState]="fallbackState"
        ></app-loading-fallback>

        <div *ngIf="!fallbackState.isLoading" class="flex w-full h-full page-std-padding-x py-4">
            <app-movies-list 
                [movies]="movies" 
                [moviesPerRow]="userSettings?.moviesPerRow"
                [isDeleteModeOn]="isDeleteModeOn"
                [isLoading]="fallbackState.isLoading"
                (onNewMovieId)="handleNewDeleteMovieId($event)"
                class="w-full"
            ></app-movies-list>
        </div>

        <app-page-selector
            [currentPage]="searchParams.page"
            [totalCount]="movies?.totalCount ?? 0"
            [itemsPerPage]="searchParams.itemsPerPage"
            (pageChanged)="handlePageChange($event)"
            class="w-full"
        ></app-page-selector>
    </div>
</div>