<div class="header border-b border-gray-300 shadow-sm">
    <div>
        <img src="/assets/images/Logo.png" class="w-23 h-15"/>
    </div>

    <div class="flex items-center space-x-20">
        <a [href]="''" class="text-xl font-semibold">Home</a>
        <a [href]="'/movies'" class="text-xl font-semibold">Movies</a>
    </div>

    <div *ngIf="!isLoggedIn" class="flex items-center space-x-4">
        <a [routerLink]="'/signup'">
            Sign Up
        </a>
        <a [routerLink]="'/login'">
            Login
        </a>
    </div>

    <button *ngIf="isLoggedIn" (click)="logOut()">
        Logout
    </button>
</div>