<div class="header">
    <div class="logo-container">
        <img src="/assets/images/Logo.png" class="w-23 h-15"/>
    </div>

    <div class="nav-links space-x-4 md:space-x-12 xl:space-x-20">
        <a [routerLink]="''" class="text-xl font-semibold">Home</a>
        <a [routerLink]="'/movies'" class="text-xl font-semibold">Movies</a>
        <a [routerLink]="'/statistics'" class="text-xl font-semibold">Stats</a>
    </div>

    <div *ngIf="!isLoggedIn" class="auth-buttons">
        <a [routerLink]="'/signup'" class="standard-auth-button">
            Sign Up
        </a>
        <a [routerLink]="'/login'" class="standard-auth-button">
            Login
        </a>
    </div>

    <div *ngIf="isLoggedIn" class="user-bar-container">
        <app-userbar></app-userbar>
    </div>
</div>